@import '@assets/styles/_variables';

.inner{
    display: flex;
    justify-content: space-between;
}

.text{
    font-size: calc(var(--index) * 0.7);
    font-weight: 400;
    line-height: calc(var(--index) * 1.1);
    letter-spacing: 0em;
}

.dots{
    position: relative;
    top: -4px;
    border-bottom: 1px black dashed;
    flex: 1;
    margin: 0 10px;
} 

.strong{
    font-weight: 600;
}