@import '@assets/styles/_variables';


.item {
    position: relative;
    &:hover{
        cursor: pointer;
        .info{
            opacity: 1;
        }
    }
    overflow: hidden;
}


.info{
    position: absolute;
    background: rgba(#FFFFFF, 0.6);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.title{
    font-size: 20px;
    line-height: 24px;
    @extend %title-menu;
    color: $title;
    margin-bottom: 19px;
    padding-bottom: 19px;
    position: relative;
    &::before{
        content: '';
        bottom: 0;
        position: absolute;
        width: 80%;
        height: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #6D7278;
    }
}

.text{
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    font-weight: 600;
}


