
@import 'src/assets/styles/_variables';


.menu{
    display: flex;
    padding-right: 15px;
    gap: 45px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items:center; 
}
    
.showLogo{
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hideLogo{
    display: none;
    width: 50px;
    height: 50px;
}


.sidebar{
    top: 0;
    position: absolute;
    left: 0;
    width: 35%;
    height: 100vh;
    padding: 100px 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: rgb(165 162 162 / 56%);
    box-shadow: 3px 2px 14px 0px rgb(96, 96, 96);
}

.sidelist{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
   
}

.sideblur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: rgb(192 190 190 / 62%);;
}

.burger{
    :global{
        div{
            z-index: 2;
        }
       
    }
}