@import '@assets/styles/_variables';


.item {
    display: none;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: flex-start;
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    justify-content: center;
}

.info{
    width: 50%;
    padding: 0 40px 40px;
}

.title{
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 29px;
}
.subtitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin: 30px 0 20px;
}

.inner{
    display: flex;
    justify-content: space-between;
}

.inner_bottom{
    margin-bottom: 20px;
}

.inner_star{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


.inner_review{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

.dots{
    position: relative;
    top: -4px;
    border-bottom: 1px black dashed;
    flex: 1;
    margin: 0 10px;
}

.descr{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.id_product{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
}


.price{
    font-size: 13px;
    font-weight: 700;
}

.new_price{
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: #FFEF35;
}

.last_price{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-decoration: line-through;
}

.inner_column{
    display: flex;
    flex-direction: column;
}

.column_gap{
    gap: 20px;
}

.buy_buttons{
    display: flex;
    justify-content: space-between;
}

.heart{
    background-image: url(../../assets/images/product_page/Heart.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 17px;
}

.icons{
    display: flex;
    gap: 20px;
}

.icon{
    cursor: pointer;
}

.active{
    display: flex;
}

.image{
        width: 50%;
        display: flex;
        justify-content: flex-end;
}

.img {
    max-height: 500px;
    object-fit: cover;
}


