@import 'src/assets/styles/_variables';


.layers{
    color:white;
    perspective: 1000px;
    overflow: hidden;
}

.container{
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transiton);
}

.item{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.logo{
    --logo-size: calc(var(--index) * 7.5);
    width: var(--logo-size);
    height: var(--logo-size);
    position: absolute;
    left: calc(50% - calc(var(--logo-size) / 2));
    top: calc(var(--index) * 9);
    z-index: 2;
}

.title{
    font-weight: 700;
    font-size: calc(var(--index) * 3);
    padding: calc(var(--index) * 1) 0;
}


.layer_1{
    background-image: url(../../../../assets/images/first_page/background/layer1.jpg);
    transform: translateZ(-65px) scale(1.06);
}

.layer_2{
    transform: translateZ(110px);
}

.layer_3{
    background-image: url(../../../../assets/images/first_page/background/layer3.png);
    transform: translateZ(-25px) scale(1);
}
.layer_4{
    background-image: url(../../../../assets/images/first_page/background/layer4.png);
    transform: translateZ(30px) scale(0.9);
}
.layer_5{
    background-image: url(../../../../assets/images/first_page/background/layer5.png);
    transform: translateZ(90px) scale(0.9);
}