@import 'src/assets/styles/_variables';

.button{ 
    background: $yellow;
    border: none;
    border-radius: 21px;
    height: 40px;
    width: 160px;
    text-align: center;
    color: $default;
    cursor: pointer;
    
}

.button:hover{
    background-color: transparent;
    color: $default;
    border: 1px solid  $default;
}

.buttonActive{
    border: none;
    border-radius: 21px;
    border: 1px solid  $default;
    height: 40px;
    width: 160px;
    text-align: center;
    background-color: transparent;
    color: $default;
    cursor: pointer;
}