@import '@assets/styles/_variables';


.item {
    display: none;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: flex-start;
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding-bottom: calc(var(--index) * 3);;
    justify-content: center;
}

.info{
    width: 50%;
    padding: 0 calc(var(--index) * 2.3) calc(var(--index) * 2.3);;
}

.title{
    font-size: calc(var(--index) * 1.8);
    line-height: calc(var(--index) * 2.3);
    margin-bottom: calc(var(--index) * 1);
}

.inner{
    display: flex;
    justify-content: space-between;
}

.inner_bottom{
    margin-bottom: 20px;
}

.text{
    font-size: calc(var(--index) * 0.7);
    font-weight: 400;
    line-height: calc(var(--index) * 1.1);
    letter-spacing: 0em;
}


.new_price{
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: #FFEF35;
}

.last_price{
    font-size: calc(var(--index) * 1);
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-decoration: line-through;
}

.inner_column{
    display: flex;
    flex-direction: column;
}

.column_gap{
    gap: 20px;
}

.buy_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    display: flex;
}

.image{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.img {
    max-height: calc(var(--index) * 28);
    object-fit: cover;
}


.heart{
    cursor: pointer; 
}

.heartActive{
    fill: $yellow;
    path{
        stroke: $yellow; 
    }
}

.heart:hover path{
    stroke: $yellow;
}

.heart:active path{
    stroke: $yellow; 
    fill: $yellow; 
}

.id_product{
    font-size: calc(var(--index) * 0.9);
    font-weight: 600;
    line-height: calc(var(--index) * 1.1);
    letter-spacing: 0em;
}