@import '@assets/styles/_variables';


.item{
    width: 100%;
    display:flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0;
}

.itemImg{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.itemInfo{
    flex: 1 1;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option{
    width: calc(var(--index) * 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.counter{
    display: flex;
    gap: calc(var(--index) * 1);
    height: calc(var(--index) * 2.5);
    align-items: center;
    font-weight: 700;
}

.counterBtn{
    font-size: 20px;
    font-weight: 500;
}

.gray{
    color: $greyCart;
    font-size: calc(var(--index) * 0.8);
}

.newPrice{
    font-size: calc(var(--index) * 1);
}

.oldPrice{
    color: $greyCart;
    text-decoration: line-through;
    font-size: calc(var(--index) * 0.8);
}

.grayButton {
    display: flex;
    align-items: center;
    gap: 15px;
}

.image{
    cursor: pointer; 
}

.imageActive{
    fill: $yellow;
    path{
        stroke: $yellow; 
    }
}

.image:hover path{
    stroke: $yellow;
}

.image:active path{
    stroke: $yellow; 
    fill: $yellow; 
}