@import '@assets/styles/_variables';


.item {
    display: none;
    max-height: 1148px;
    grid-template-columns: 1fr repeat(2, 493px);
    grid-template-rows: repeat(2, 559px);
    grid-gap: 34px;
}

.active{
    display: grid;
}

.img {
    height: 100%;
    justify-self: stretch;
}

.img-main {
    grid-row: 1 / 3;
    align-self: stretch;
}


