@import '@assets/styles/_variables';

.items{
    display: none;
    grid-template-columns: [col1-start] 33.33% [col2-start] 33.33% [col3-start] 33.33% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    grid-gap: 34px;
}

.item {
    position: relative;
    &:hover{
        cursor: pointer;
        .info{
            opacity: 1;
        }
    }
}

.active{
    display: grid;
}

.info{
    position: absolute;
    background: rgba(#FFFFFF, 0.6);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.title{
    font-size: 20px;
    line-height: 24px;
    @extend %title-menu;
    color: $title;
    margin-bottom: 19px;
    padding-bottom: 19px;
    position: relative;
    &::before{
        content: '';
        bottom: 0;
        position: absolute;
        width: 80%;
        height: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #6D7278;
    }
}

.text{
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    font-weight: 600;
}

.img {
    height: 100%;
    justify-self: stretch;
}

.img-main {
    grid-row: 1 / 3;
    align-self: stretch;
}

.item:hover {
    box-shadow: 0px 0px 10px 2px #00000070;
}



