@import '@assets/styles/_variables';

.inner_review{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inner_star{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.text{
    font-size: calc(var(--index) * 0.7);
    font-weight: 400;
    line-height: calc(var(--index) * 1.1);
    letter-spacing: 0em;
}