@import '@assets/styles/_variables';

.impty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imptyCart{
    font-size: 45px;
}

.title{
    font-size: calc(var(--index) * 2.5)
}

.wrapper{
    min-height: 800px;
}

.inner{
    display: flex;
    gap: 30px;
    margin-top: 30px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--index) * 4);
}

.infoOrder{
    width: 30%;
    height: calc(var(--index) * 33);
    display: flex;
    flex-direction: column;
    padding: calc(var(--index) * 1);
    border-radius: 8px;
    background-color: #F5F5F5;
}

.subtitles{
    display: flex;
    flex-direction: column;
}
.subtitle{
    display: flex;
    font-size: calc(var(--index) * 0.8);
    justify-content: space-between;
}
.lable{
    display: flex;
    gap: 20px;
    font-size: calc(var(--index) * 0.8);
}

.checkboxInput{
    display: none;
}

.total{
    display: flex;
    font-weight: 700;
    font-size: calc(var(--index) * 1.3);
    justify-content: space-between;
    padding-top: calc(var(--index) * 0.8);
}

.items{
    width: 70%;
    height: 100vh;
    overflow: auto;
}
