@import 'src/assets/styles/_variables';


.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.linkImg{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.img{
    object-fit: contain;
}

.links{
    margin-bottom: 9px;
}

.date, .autor, .theme{
    @extend %footer-link;
}

.title{
    color: $title;
    @extend %title-menu;
    font-size: 24px;
    line-height: 38px;
}
