@import '@assets/styles/_variables';

.loginBlock{
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.linkPassword{
    color: black;
    font-size: calc(var(--index) * 0.6);
    text-decoration: underline;
}

.linkPassword:hover{
    text-decoration: none;
    opacity: 0.8;
}

