@import 'src/assets/styles/_variables';

.button{ 
    background: $title;
    border: none;
    flex: 0;
    padding: 6px 30px;
    border-radius: 21px;
    width: 100%;
    text-align: center;
    color: #FFFFF0;
    cursor: pointer;
}

.button:hover{
    opacity: 0.9;
}
