@import '@assets/styles/_variables';

.gallery {
    margin-bottom: 88px;
}

.tabs {
    max-width: 840px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
