$title: #363838;
$yellow: #FFEF35;
$green: #72BF44;
$gray: #E0E0E0;
$default: #5A5A5A;

:root{
    --index: calc(1vw + 1vh);
    --transiton: 1.5s cubic-bizier(.05, .5, 0, 1)
}

%title-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%footer-link{
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}