@import './_variables';
@import './_reset.scss';


html{
    box-sizing: border-box;
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: $default;
  /* color: #5A5A5A; */
	overflow-x: hidden;
    height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-top{
    height: inherit;
}

.container-fluid{
	max-width: 1920px;
  padding: 0 28px;
	margin: 0 auto;
}

/* title style */

.title{
  &__line{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #363838;
      position: relative;
      margin-bottom: 26px;
      &::before{
          content: '';
          position: absolute;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: #979797;
          width: 185px;
      }
  }
}


//hover effect item collection
.item {
  position: relative;
  &:hover{
      cursor: pointer;
      .info{
          opacity: 1;
      }
  }
  overflow: hidden;
}

.info{
  position: absolute;
  background: rgba(#FFFFFF, 0.6);
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

