@import '@assets/styles/_variables';


.social{
    width: calc(var(--index) * 8);
    margin: 0 calc(var(--index) * 4);
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.item{
    display: flex;
    gap: 14px;
}

.link{
    @extend %footer-link;
}

